.sidebar {
  height: 100%;
  background-color: hsl(var(--accentColor));
  box-shadow: var(--boxShadow);
  position: fixed;
}

.sidebar__wrapper {
  padding: 20px;
  color: hsla(var(--primaryTextColor), 0.5);
}

.sidebar__title {
  font-size: 15px;
  color: hsl(var(--primaryTextColor));
  margin: 2rem 0;
}

.sidebar__item {
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebar__item.active,
.sidebar__item:hover {
  color: hsl(var(--primaryTextColor));
  background-color: hsla(var(--primaryBg), 0.1);
}

.sidebar__item:hover {
  margin: 0.5rem 0;
  transition: var(--transition);
}

.sidebar__icon {
  margin-right: 15px;
  font-size: 30px !important;
}
