.layout__topbar {
  position: fixed;
  margin-left: 260px;
  /* vw - sidebar width - topbar left padding - topbar right padding */
  width: calc(100vw - 260px - 20px - 20px);
  z-index: 999;
}

.layout__bottom {
  display: flex;
}

.layout__sidebar {
  flex-shrink: 0;
  width: 260px;
}

.layout__outlet {
  flex-grow: 1;
  margin-top: 70px; /* topbar height */
}
