.sidebar {
  width: var(--sidebarWidth);
  height: 100%;
  background-color: hsl(var(--primaryBg));
  box-shadow: var(--boxShadow);
  position: fixed;
}

.sidebar__logo {
  display: flex;
  justify-content: center;
  height: var(--topbarHeight);
  border-bottom: 1px solid hsla(var(--borderBottomColor), 1);
}

.sidebar__menu {
  padding: 1.25rem;
  color: hsl(var(--secondaryTextColor));
}

.sidebar__item {
  font-size: 1.1rem;
  padding: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebar__item.active,
.sidebar__item:hover {
  color: hsl(var(--primaryTextColor));
  background-color: hsl(var(--accentColor));
}

.sidebar__item:hover {
  margin: 0.5rem 0;
  transition: var(--transition);
}

.sidebar__icon {
  margin-right: 1rem;
  font-size: 2rem !important;
}
